body {
    margin: 0;
    background: #eee;

    font-family: sans-serif;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;

    background-repeat: no-repeat;

    overflow-x: hidden;
}

.chapter {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 30px;
}

.chapter img {
    display: block;
    margin: auto;
}

.slider {
    max-width: 400px;
}

.colorSwatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
}
